@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div class="row">
    <br />
    <br />
    <br />
    <div class="col-md-4">
        <div id="app">
            <p>{{ username }}</p>
            <p>{{ namesurname }}</p>
            <p>{{ corporation }}</p>
            <p>{{ school }}</p>
            <p>{{ city }}</p>
        </div>
    </div>

</div>
<script>
    new Vue({
        el: '#app',
        data: {
            username: 'cengmesut',
            namesurname: 'Mesut Kaya',
            corporation: 'Sümer Gıda',
            school: 'Anadolu University',
            city: 'Istanbul'
        }
    })
</script>